body {
	background: white;
	margin: 0;
}
#grad {
	background: linear-gradient(  #f1b4ba, white);
	
}
ul{
	color: White;
	font-family: "DK Jambo";
	font-size: 30px;
	border: #00bff3;
	border-style: outset;
	background-color: #00bff3;
	text-align: center;
	float: center;
	border-width: 3px;
}
li {
	display: inline;
}
a {
	color: white;
	text-decoration: none;
}
h1 {
	font-family: "DK Jambo";
	text-align: center;
	color: #ec008c;
}
#logo{
	width: 7%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#magnifying {
	width: 3%
}
p {
	font-family: "DK Jambo";
	background: white;
	color: Silver;
	background-position: left top;
}